@using GazaAIDNetwork.EF.Models
@using Microsoft.AspNetCore.Identity
@using static GazaAIDNetwork.Core.Enums.Enums
<link href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<link href="~/css/excel.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>
@inject UserManager<User> Usermanager
@{
    var user = await Usermanager.GetUserAsync(User);
    var roles = (await Usermanager.GetRolesAsync(user)).ToList();
}

<div style="margin-top:1% ; padding:0px" class="container-fluid">
    <div style="display: flex; justify-content: space-between; align-items: center; padding: 0px 10px; height:50px" class="menu-toggle-btn mr-15">
        @if (roles.Contains(Role.admin.ToString()) || roles.Contains(Role.representative.ToString()))
        {
            <a asp-action="Create" asp-controller="Families" style="padding:5px " class="main-btn success-btn-outline rounded-full btn-hover">
                <i class="bi bi-plus-circle"></i> إضافة عائلة جديدة
             </a>
        }
        <div style="padding:5px "  class="dropdown">
            <button style="padding:5px ; margin-bottom:1%" class="main-btn success-btn-outline rounded-full btn-hover dropdown-toggle"
                    type="button"
                    id="multiSelectDropdown"
                    data-bs-toggle="dropdown"
                    aria-expanded="false">
                حدد الأعمدة
            </button>
            <ul class="dropdown-menu"
                aria-labelledby="multiSelectDropdown">
                <li>
                    <div style="margin-bottom:-8px" class="form-check form-switch toggle-switch mb-30">
                        <label class="form-check-label">
                            <input class="form-check-input" checked type="checkbox"
                                   value="1">
                            الاسم
                        </label>
                    </div>
                </li>
                <li>
                    <div style="margin-bottom:-8px" class="form-check form-switch toggle-switch mb-30">
                        <label class="form-check-label">
                            <input class="form-check-input" checked type="checkbox"
                                   value="2">
                            رقم الهوية
                        </label>
                    </div>
                </li>
                <li>
                    <div style="margin-bottom:-8px" class="form-check form-switch toggle-switch mb-30">
                        <label class="form-check-label">
                            <input class="form-check-input" checked type="checkbox"
                                   value="3">
                            رقم الهاتف
                        </label>
                    </div>
                </li>
                <li>
                    <div style="margin-bottom:-8px" class="form-check form-switch toggle-switch mb-30">
                        <label class="form-check-label">
                            <input class="form-check-input" checked type="checkbox"
                                   value="4">
                            عدد الأفراد
                        </label>
                    </div>
                </li>
                <li>
                    <div style="margin-bottom:-8px" class="form-check form-switch toggle-switch mb-30">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox"
                                   value="5">
                            حالة رب الأسرة
                        </label>
                    </div>
                </li>
                <li>
                    <div style="margin-bottom:-8px" class="form-check form-switch toggle-switch mb-30">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox"
                                   value="6">
                            تاريخ تغير حالة رب الأسرة
                        </label>
                    </div>
                </li>
                <li>
                    <div style="margin-bottom:-8px" class="form-check form-switch toggle-switch mb-30">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox"
                                   value="7">
                            جنس رب الأسرة
                        </label>
                    </div>
                </li>
                <li>
                    <div style="margin-bottom:-8px" class="form-check form-switch toggle-switch mb-30">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox"
                                   value="8">
                            اسم الزوج/ة
                        </label>
                    </div>
                </li>
                <li>
                    <div style="margin-bottom:-8px" class="form-check form-switch toggle-switch mb-30">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox"
                                   value="9">
                            رقم هوية الزوج/ة
                        </label>
                    </div>
                </li>
                <li>
                    <div style="margin-bottom:-8px" class="form-check form-switch toggle-switch mb-30">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox"
                                   value="10">
                            حالة الزوج/ة
                        </label>
                    </div>
                </li>
                <li>
                    <div style="margin-bottom:-8px" class="form-check form-switch toggle-switch mb-30">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox"
                                   value="11">
                            تاريخ تغير حالة الزوج/ة
                        </label>
                    </div>
                </li>
                <li>
                    <div style="margin-bottom:-8px" class="form-check form-switch toggle-switch mb-30">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox"
                                   value="12">
                            جنس الزوج/ة
                        </label>
                    </div>
                </li>
                <li>
                    <div style="margin-bottom:-8px" class="form-check form-switch toggle-switch mb-30">
                        <label class="form-check-label">
                            <input class="form-check-input" checked type="checkbox"
                                   value="13">
                            الحالة الإجتماعية
                        </label>
                    </div>
                </li>
                <li>
                    <div style="margin-bottom:-8px" class="form-check form-switch toggle-switch mb-30">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox"
                                   value="14">
                            الحالة المادية
                        </label>
                    </div>
                </li>
                <li>
                    <div style="margin-bottom:-8px" class="form-check form-switch toggle-switch mb-30">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox"
                                   value="15">
                            اسم المندوب
                        </label>
                    </div>
                </li>
                <li>
                    <div style="margin-bottom:-8px" class="form-check form-switch toggle-switch mb-30">
                        <label class="form-check-label">
                            <input class="form-check-input" checked type="checkbox"
                                   value="19">
                            حالة طلب الإغاثة
                        </label>
                    </div>
                </li>
            </ul>
        </div>
        <!-- end input -->
        <div style="padding:5px ">
            <button id="exportExcel" style="padding:5px ; margin-bottom:1%" class="main-btn success-btn-outline rounded-full btn-hover"> تصدير إلى ملف إكسل</button>
            <div id="loadingMessage" hidden>جاري التحميل ...</div>
        </div>
        <!-- end input -->
        @if (roles.Contains(Role.superadmin.ToString()))
        {
            <div class="select-style-1">
                <label>المنطقة</label>
                <div class="select-position">
                    <select id="divisionId">
                        <option value="">جميع المناطق</option>
                    </select>
                </div>
            </div>
            <!-- end input -->
        }
        <div class="select-style-1">
            <label>المندوب</label>
            <div class="select-position">
                <select id="representativeId">
                    <option value="">جميع المناديب</option>
                </select>
            </div>
        </div>
        <!-- end input -->
        <div style="padding:5px " class="dropdown">
            <button style="padding:5px ; margin-bottom:1%" class="main-btn success-btn-outline rounded-full btn-hover dropdown-toggle"
                    type="button"
                    id="multiSelectDropdown"
                    data-bs-toggle="dropdown"
                    aria-expanded="false">
                فلترة البيانات
            </button>
            <ul style="padding:20px ; "class="dropdown-menu"
                aria-labelledby="multiSelectDropdown">
                <li>
                    <div  class="select-style-1">
                        <label>حالة النزوح</label>
                        <div  class="select-position">
                            <select  id="IsDisplaced">
                                <option value="">الجميع</option>
                                <option value="true">نازح</option>
                                <option value="false">مقيم</option>
                            </select>
                        </div>
                    </div>
                </li>
                <!-- end input -->
                <li>
                    <div class="select-style-1">
                        <label>لديه إعاقة؟</label>
                        <div  class="select-position">
                            <select  id="IsDisability">
                                <option value="">الجميع</option>
                                <option value="true">نعم</option>
                                <option value="false">لا</option>
                            </select>
                        </div>
                    </div>
                </li>
                <!-- end input -->
                <li>
                    <div class="select-style-1">
                    <label>لديه مرض؟</label>
                    <div  class="select-position">
                        <select id="IsDisease">
                            <option value="">الجميع</option>
                            <option value="true">نعم</option>
                            <option value="false">لا</option>
                        </select>
                    </div>
                </div>
                </li>
                <!-- end input -->
                <li>
                    <div class="select-style-1">
                    <label>الحالة المادية</label>
                    <div  class="select-position">
                        <select  id="FinancialSituation">
                            <option value="">الجميع</option>
                            <option value="NotSelected">غير محدد</option>
                            <option value="LowIncome">سيء جدا</option>
                            <option value="VeryLowIncome">سيئ</option>
                            <option value="MiddleIncome">متوسط</option>
                            <option value="HighIncome">ممتاز</option>
                        </select>
                    </div>
                </div>
                </li>
            </ul>
        </div>
        <!-- end input -->
        @if (!roles.Contains(Role.admin.ToString()) && !roles.Contains(Role.superadmin.ToString()))
        {
            <form style="display:inline-block ;padding:5px " id="uploadForm" asp-controller="Families" asp-action="Import" method="post" enctype="multipart/form-data">
                <div class="input-group mb-3">
                <label class="input-group-text" for="file">
                    <i class="bi bi-file-earmark-excel"></i>
                </label>
                <input type="file" class="form-control visually-hidden" id="file" name="file" accept=".xlsx, .xls" required onchange="uploadFile()">
                <button class="btn btn-success" type="submit"
                        onclick="document.getElementById('file').click()">
                    اختر ملف اكسل
                </button>
            </div>
            <div id="uploadStatus"></div>
        </form>
        }
    </div>
    <div style="margin:1% ; padding:0px" class="tables-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <div class="card-style mb-30">
                    <h6 class="mb-10">بيانات العائلات المعتمدة لديك</h6>
                    <p class="text-sm mb-20">
                        تشمل جميع البيانات الصحيحة والتي تم اعتمادها من المندوب
                    </p>
                    <div class="table-wrapper table-responsive" style="width:100%; margin:0 auto;">
                        <table id="families" class="table " width="100%" cellspacing="0">
                            <thead>
                                <tr style="background-color:#cfeaa2">
                                    <th></th>
                                    <th>#</th>
                                    <th>
                                        <div class="check-input-primary">
                                            <input class="form-check-input" type="checkbox" id="selectAll" />
                                        </div>
                                    </th>
                                    <th style="min-width: 200px;">الاسم</th>
                                    <th>رقم الهوية</th>
                                    <th>رقم الهاتف</th>
                                    <th>عدد الأفراد</th>
                                    <th>حالة رب الأسرة</th>
                                    <th>تاريخ تغير حالة رب الأسرة </th>
                                    <th>جنس رب الأسرة </th>
                                    <th style="min-width: 200px;">اسم الزوج/ة</th>
                                    <th>رقم هوية الزوج/ة</th>
                                    <th>حالة الزوج/ة</th>
                                    <th>تاريخ تغير حالة الزوج/ة</th>
                                    <th>جنس الزوج/ة</th>
                                    <th>الحالة الإجتماعية</th>
                                    <th>الحالة المادية</th>
                                    <th>اسم المندوب</th>
                                    <th>حالة طلب الإغاثة</th>
                                    <th></th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/family/familiesdatatable.js"></script>
    <script src="~/js/family/deletefamily.js"></script>
    <script src="~/js/family/excelfile.js"></script>
    <script src="~/js/family/resetpassworduser.js"></script>
}
