@using GazaAIDNetwork.EF.Models
@using Microsoft.AspNetCore.Identity
@using static GazaAIDNetwork.Core.Enums.Enums
<link href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<link href="~/css/excel.css" rel="stylesheet" />

<!-- FontAwesome (For icons) -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

<!-- Tempus Dominus Bootstrap 4 Datetimepicker -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.39.0/css/tempusdominus-bootstrap-4.min.css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>
@inject UserManager<User> Usermanager
@{
    var user = await Usermanager.GetUserAsync(User);
    var roles = (await Usermanager.GetRolesAsync(user)).ToList();
}
<input id="familyId" value="@TempData["familyId"]" hidden></input>
<div style="margin-top:1% ; padding:0px" class="container-fluid">
    <div style="margin:1% ; padding:0px" class="tables-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <div class="card-style mb-30">
                    <h6 class="mb-10">المساعدات الخاصة بي</h6>
                    <div class="table-wrapper table-responsive" style="width:100%; margin:0 auto;">
                        <table id="ordersAid" class="table " width="100%" cellspacing="0">
                            <thead>
                                <tr style="background-color:#cfeaa2">
                                    <th></th>
                                    <th>#</th>
                                    <th>
                                        <div class="check-input-primary">
                                            <input class="form-check-input" type="checkbox" id="checkbox-1" />
                                        </div>
                                    </th>
                                    <th>اسم الزوج</th>
                                    <th>رقم هوية الزوج</th>
                                    <th>اسم الزوجة</th>
                                    <th>رقم هوية الزوجة</th>
                                    <th>عدد الأفراد </th>
                                    <th>الكمية </th>
                                    <th>المشروع </th>
                                    <th>الدورة </th>
                                    <th>الحالة</th>
                                    <th></th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/orderaid/myaidsdatatable.js"></script>
    <!-- jQuery (required) -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Bootstrap Datetimepicker (if using Bootstrap 4 or 5) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.39.0/js/tempusdominus-bootstrap-4.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.39.0/css/tempusdominus-bootstrap-4.min.css" />
}
