@using GazaAIDNetwork.EF.Models
@using Microsoft.AspNetCore.Identity
@using static GazaAIDNetwork.Core.Enums.Enums
@model GazaAIDNetwork.Core.Dtos.UserDto
@inject UserManager<User> Usermanager

@{
	var user = await Usermanager.GetUserAsync(User);
	var roles = (await Usermanager.GetRolesAsync(user)).ToList();
}
<!--begin::Modal - Add task-->
<div class="modal fade" id="AddUserModal" tabindex="-1" aria-hidden="true">
	<!--begin::Modal dialog-->
	<div class="modal-dialog modal-dialog-centered mw-650px">
		<!--begin::Modal content-->
		<div class="modal-content">
			<!--begin::Modal header-->
			<div class="modal-header" id="kt_modal_add_user_header">
				<!--begin::Modal title-->
				<h2 class="fw-bold">إضافة مستخدم جديد</h2>
				<!--end::Modal title-->
				<!--begin::Close-->
				<div class="btn btn-icon btn-sm btn-active-icon-primary" data-kt-user-modal-action="close">
					<!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
					<span class="svg-icon svg-icon-1">
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="currentColor" />
							<rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor" />
						</svg>
					</span>
					<!--end::Svg Icon-->
				</div>
				<!--end::Close-->
			</div>
			<!--end::Modal header-->
			<!--begin::Modal body-->
			<div class="modal-body scroll-y mx-5 mx-xl-15 my-7">
				<!--begin::Form-->
				<form id="kt_modal_add_user_form" enctype="multipart/form-data" class="form" action="#">
					<!--begin::Scroll-->
					<div class="d-flex flex-column scroll-y me-n7 pe-7" id="kt_modal_add_user_scroll" data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}" data-kt-scroll-max-height="auto" data-kt-scroll-dependencies="#kt_modal_add_user_header" data-kt-scroll-wrappers="#kt_modal_add_user_scroll" data-kt-scroll-offset="300px">
						<!--begin::Input group-->
						<label>الاسم</label>
						<div class="input-style-3">
							
							<input type="text" asp-for="FullName" placeholder="الاسم بالكامل" />
							<span class="icon"><i class="lni lni-user"></i></span>
						</div>
						<!--end::Input group-->	

						<!--begin::Input group-->
						<div class="input-style-1">
							<label>رقم الهوية</label>
							<input type="text" asp-for="IdNumber" placeholder="رقم الهوية" />
						</div>
						<!--end::Input group-->		

						<!--begin::Input group-->
						<div class="input-style-1">
							<label>رقم الهاتف</label>
							<input type="text" asp-for="PhoneNumber" placeholder="رقم الهاتف" />
						</div>
						<!--end::Input group-->	
						@if (roles.Contains(Role.superadmin.ToString()))
						{
							<!--begin::Input group-->
							<div class="fv-row mb-7">
								<div class="select-style-1">
									<label>الشعبة</label>
									<div class="select-position">
										<select asp-for="DivisionId">
											<option value="">اختر شعبة</option>
											<!-- Options will be dynamically populated here -->
										</select>
									</div>
								</div>
							</div>
							<!--end::Input group-->
						}
						<div class="card-style mb-30">
							<h6 class="mb-25">الصلاحية</h6>

							<div class="form-check checkbox-style checkbox-success mb-20">
								<input class="form-check-input" type="checkbox"  value="10" id="checkbox-10" />
								<label class="form-check-label" for="checkbox-10">مسؤول عام</label>
							</div>

							<div class="form-check checkbox-style checkbox-success mb-20">
								<input class="form-check-input" type="checkbox"  value="11" id="checkbox-11" />
								<label class="form-check-label" for="checkbox-11">مسؤول</label>
							</div>
							
							<div class="form-check checkbox-style checkbox-success mb-20">
								<input class="form-check-input" type="checkbox"  value="15" id="checkbox-11" />
								<label class="form-check-label" for="checkbox-11">مدير</label>
							</div>

							<div class="form-check checkbox-style checkbox-success mb-20">
								<input class="form-check-input" type="checkbox" value="12" id="checkbox-12" />
								<label class="form-check-label" for="checkbox-12">مندوب</label>
							</div>

							<div class="form-check checkbox-style checkbox-success mb-20">
								<input class="form-check-input" type="checkbox" value="13" id="checkbox-13" />
								<label class="form-check-label" for="checkbox-13">مراقب</label>
							</div>

						</div>

					</div>
					<!--end::Scroll-->
					<!--begin::Actions-->
					<div class="text-center pt-15">
						<button type="reset" class="btn btn-light me-3" data-kt-user-modal-action="cancel">إلغاء</button>
						<button type="submit" class="btn btn-primary" data-kt-user-modal-action="submit">
							<span class="indicator-label">إضافة</span>
							<span class="indicator-progress">
								...انتظر من فضلك 
								<span class="spinner-border spinner-border-sm align-middle ms-2"></span>
							</span>
						</button>
					</div>
					<!--end::Actions-->
				</form>
				<!--end::Form-->
			</div>
			<!--end::Modal body-->
		</div>
		<!--end::Modal content-->
	</div>
	<!--end::Modal dialog-->
</div>
<!--end::Modal - Add task-->
